*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}.body{
    width: 100vw;
    height: 150vh;
    background-color: blueviolet;
}

.container {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  
  .border:hover {
    border: 1px solid white;
  }
  
  .card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card0 {
    background: url('https://media.discordapp.net/attachments/1054746685307359265/1212433997368655922/2151178924.jpg?ex=65f1d226&is=65df5d26&hm=7c4568fa69290a1f781ddcc09780b9931e575cc7cdb552c6e3a6330fdaaf114e&=&format=webp&width=262&height=468') center center no-repeat;
    background-size: 300px;
  }
  
  .card0:hover {
    background: url('https://media.discordapp.net/attachments/1054746685307359265/1212433997368655922/2151178924.jpg?ex=65f1d226&is=65df5d26&hm=7c4568fa69290a1f781ddcc09780b9931e575cc7cdb552c6e3a6330fdaaf114e&=&format=webp&width=262&height=468') left center no-repeat;
    background-size: 600px;
  }
  
  .card0:hover h2,
  .card0:hover .fa {
    opacity: 1;
  }
  
  .card1 {
    background: url('https://media.discordapp.net/attachments/1054746685307359265/1212434821947854869/2151205371.jpg?ex=65f1d2eb&is=65df5deb&hm=3c0fca9bea185184bc31c724a267af68bc5ed91dd55b00b29d9bd97b37f588d8&=&format=webp&width=245&height=350') center center no-repeat;
    background-size: 300px;
  }
  
  .card1:hover {
    background: url('https://media.discordapp.net/attachments/1054746685307359265/1212434821947854869/2151205371.jpg?ex=65f1d2eb&is=65df5deb&hm=3c0fca9bea185184bc31c724a267af68bc5ed91dd55b00b29d9bd97b37f588d8&=&format=webp&width=245&height=350') left center no-repeat;
    background-size: 600px;
  }
  
  .card1:hover h2,
  .card1:hover .fa {
    opacity: 1;
  }
  
  .card2 {
    background: url('https://cdn.discordapp.com/attachments/1054746685307359265/1212437099509186671/2150917246.jpg?ex=65f1d50a&is=65df600a&hm=ce21656fbf312e8ab519a5e9636d2f06299d1402ec02735fbf0b2ba5e1bf391d&') center center no-repeat;
    background-size: 300px;
  }
  
  .card2:hover {
    background: url('https://cdn.discordapp.com/attachments/1054746685307359265/1212437099509186671/2150917246.jpg?ex=65f1d50a&is=65df600a&hm=ce21656fbf312e8ab519a5e9636d2f06299d1402ec02735fbf0b2ba5e1bf391d&') left center no-repeat;
    background-size: 600px;
  }
  
  .card2:hover h2,
  .card2:hover .fa {
    opacity: 1;
  }
  
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  

  /* -- Cursor CSS Start -- */

.cursor{ position: fixed; width: 40px; height: 40px; margin-left: -20px; margin-top: -20px; border-radius: 50%; border: 2px solid var(--text-color-6); transition: transform 0.3s ease; transform-origin: center center; pointer-events: none; z-index: 1000; }
.header-section-orange .cursor{ border:2px solid var(--text-color-10); } 
.header-section-green .cursor{ border:2px solid var(--text-color-14); } 
.grow, .grow-small{ transform: scale(2); background:var(--white); opacity: 0.5; } 
.grow-small{ transform: scale(2); }

/* -- Cursor CSS End -- */

/* -- Header Section CSS Start -- */

.header-section-main { position: fixed; padding-top: 40px; width: 100%;z-index:99;}
.header-section-inner{display:flex;justify-content:space-between;}
.header-logo{flex-shrink:0;}
.header-logo img{width:5vw;}
.header-menu{width:80%;}
.header-menu ul{display:flex;gap:90px;justify-content:end;list-style:none;}

.header-menu ul li a { position: relative; font-size: 16px; line-height: 20px; font-weight: 400; text-transform: uppercase; font-style: normal; color: var(--text-color-1); display:inline-block; transition: 0.3s; -webkit-transition: 0.3s;} 
.header-menu ul li a:hover,.header-menu ul li.active a{ color:var(--light-t1); }
.header-menu ul li a:hover:after,.header-menu ul li.active a:after{ transform: translate(-50%,0); -webkit-transform: translate(-50%,0); opacity:1; } 
.header-menu ul li a:after{ content:""; position:absolute; bottom:-50px; left:50%; display:block; background:url("https://www.yudiz.com/codepen/valorant-characters/menu-hover-icon.svg") center center / cover; width:70px; height:70px; transform:translate(-50%,30px); -webkit-transform:translate(-50%,30px); transition: 0.3s; -webkit-transition: 0.3s; opacity:0; }

.header-right-icon{flex-shrink:0;}
.header-right-icon img { width: 21px; height: 8px; }

.header-section-orange .header-logo img { filter:hue-rotate(160deg); } 
.header-section-orange .header-menu ul li a{ color:var(--text-color-7); } 
.header-section-orange .header-right-icon img { filter: hue-rotate(141deg); } 
.header-section-orange .header-menu ul li a:after { background:url(https://www.yudiz.com/codepen/valorant-characters/menu-hover-icon-2.svg) center center / cover; }
.header-section-orange .header-menu ul li a:hover, .header-section-orange .header-menu ul li.active a {color:var(--text-color-8);}

.header-section-green .header-logo img { filter:hue-rotate(197deg); } 
.header-section-green .header-menu ul li a{ color:var(--text-color-14); } 
.header-section-green .header-right-icon img { filter: hue-rotate(217deg); } 
.header-section-green .header-menu ul li a:after { background:url(https://www.yudiz.com/codepen/valorant-characters/menu-hover-icon-3.svg) center center / cover; }
.header-section-green .header-menu ul li a:hover, .header-section-green .header-menu ul li.active a {color:var(--text-color-14);}

/* -- Header Section CSS End -- */


@media only screen and (max-width: 1600px) {

    /* -- Header Section CSS Start -- */
    
    .header-section-main { padding-top:35px; }
    .header-menu ul li a:after {bottom:-60px;} 

    /* -- Header Section CSS End -- */
    
}


@media only screen and (max-width: 1300px) {

    /* -- Header Section CSS Start -- */
    
    .header-section-main { padding-top: 30px; }
    .header-menu ul li a:after {bottom: -56px;}
    .header-menu ul {gap:70px;}
    .custom-container { padding: 0 18px; }
    
    /* -- Header Section CSS End -- */
}

a { text-decoration: none; outline: none; color: var(--text-color-1); cursor: pointer; }
a:hover { color: var(--text-color-1); }
a, a:active, a:focus { outline: none; text-decoration: none; }

ul,li{ padding:0; margin:0; }


h1{ font-family: 'Insomnia', sans-serif; font-size: 86px; font-style: normal; font-weight: 400; line-height: 104px; letter-spacing: 5.16px; background: linear-gradient(180deg, #6D4BE7 0%, #998BE5 90%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
h5{ font-size: 18px; font-style: normal; font-weight: 400; line-height: 22px; letter-spacing: 10.8px;color:var(--text-color-5); text-transform:uppercase; }
h6{font-size: 14px; font-style: normal; font-weight: 400; line-height: 20px; letter-spacing: 18.48px; color:var(--text-color-4); }


.cursor{ position: fixed; width: 40px; height: 40px; margin-left: -20px; margin-top: -20px; border-radius: 50%; border: 2px solid var(--text-color-6); transition: transform 0.3s ease; transform-origin: center center; pointer-events: none; z-index: 1000; }
.header-section-orange .cursor{ border:2px solid var(--text-color-10); } 
.header-section-green .cursor{ border:2px solid var(--text-color-14); } 
  
.div_colom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }